@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-rounded {
    position: relative;
    overflow: hidden;
  }
  
  .banner-rounded::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px; /* Adjust the height for the depth of the curve */
    background: white; /* Match the background color of the next section */
    /* clip-path: path(
      "M0 0C200 100 500 120 800 120C1300 70 1600 50 1600 0L1440 320L0 320Z"
    ); */
    clip-path: path(
  "M0,0 C450,140 1080,140 1600,0 L1440,320 L0,320 Z"
);
  }

  .para{
    color: rgb(235, 235, 235);
  }

  nav .link {
    color: rgb(95, 95, 95);
  }

  .navMenu>.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
    color: rgb(104, 144, 255);
    /* background-color: rgba(255, 255, 255, 0.595); */
  }

  .table :where(thead, tfoot) {
color: black !important ;
  }

  /* .drawer-side  {
    width: 80%;
} */

/* .drawer-open > .drawer-toggle ~ .drawer-side{
  width: 80%;
} */

.w-80 {
  width: 18rem;
}


  .table :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) {
    border-bottom-color: rgb(222, 222, 222) !important ;
  }

  /* #banner .hero-content {
    align-items: end;
    border: 1px solid red;
    padding-top: 100px;
  } */





  